.card {
    @apply 
    h-full 
    flex 
    items-center 
    justify-center 
    border-2  
    p-4 
    break-words  
    cursor-pointer
}

.greencard {
    @apply
    bg-green-300 
    border-green-600 
    hover:bg-green-700 
    hover:text-white
}

.whitecard{
    @apply
    bg-white 
    hover:bg-slate-200
}